{% extends "mini_buildd/includes/api/base.html" %}
{% block results %}
	{% mbd_get view.mbd_call.args.pattern.value as pattern %}  {# Shortcut #}
	<section>
		Found <strong>{{ view.mbd_call.result|length }} matching source packages</strong> for pattern <strong><code>{{ pattern }}</code></strong>
		{% for source, results in view.mbd_call.result.items %}
			<section>
				<strong><code>{{ source }}</code></strong> in
				<ul>
					{% for result in results %}
						<li>
							{% if result == "repositories" %}
								{% mbd_api "ls" hide_options=True name=result value_source=source %}
							{% elif result == "events" %}
								<a href="{% url 'events' source %}">{{ result }}</a>
							{% elif result == "builds" %}
								<a href="{% url 'builds-dir' source %}">{{ result }}</a>
							{% endif %}
						</li>
					{% endfor %}
				</ul>
			</section>
		{% endfor %}
	</section>
{% endblock %}
